In [13]:
import pandas as pd
import random
import math

In [27]:
import pandas as pd
import random
import math

speed_grid = 8
entropy_grid = 9
speed_range = 1
entropy_range = 1
repeat = 3

def getDataInfo(name, url_prefix, task_per_worker=18):
    data = []
    counter = 0
    orderList = []
    for speed_idx in range(speed_grid):
        for entropy_idx in range(entropy_grid):
            counter += 1
            orderList.append(counter)
            speed = speed_idx * speed_range / speed_grid + 0.01
            entropy = speed_idx * speed_range / entropy_grid + 0.01
            data.append({
                'index': counter,
                'speed': speed,
                'entropy': entropy,
                'url': f'{url_prefix}{counter:03}.gif',
                'name': name
            })
    meta_df = pd.DataFrame(data)
    total_n = speed_grid * entropy_grid
    
    batches = []
    random.shuffle(orderList)
    for idx in range(math.ceil(total_n / task_per_worker)):
        task = {'name': name, 'task0': int(total_n/2)}
        for img_idx in range(task_per_worker):
            task[f'task_{img_idx+1}'] = orderList[idx*task_per_worker + img_idx]
        task[f'task_{task_per_worker+1}'] = random.randint(1, total_n) 
        batches.append(task)
    batch_df = pd.DataFrame(batches)
    return meta_df, batch_df

In [28]:
a, b = getDataInfo('test', 'https://www.test.com/')

In [29]:
a.head()

   index  speed  entropy                           url  name
0      1   0.01     0.01  https://www.test.com/001.gif  test
1      2   0.01     0.01  https://www.test.com/002.gif  test
2      3   0.01     0.01  https://www.test.com/003.gif  test
3      4   0.01     0.01  https://www.test.com/004.gif  test
4      5   0.01     0.01  https://www.test.com/005.gif  test

In [30]:
b

,name,task0,task_1,task_2,task_3,task_4,task_5,task_6,task_7,task_8,...,task_10,task_11,task_12,task_13,task_14,task_15,task_16,task_17,task_18,task_19
0,test,36,42,16,70,34,21,36,7,68,...,40,32,65,10,11,59,27,8,45,24
1,test,36,55,62,54,6,29,31,52,3,...,49,12,25,24,43,33,47,23,56,62
2,test,36,67,63,53,20,41,58,66,19,...,69,37,39,72,14,26,30,1,17,64
3,test,36,18,15,61,44,2,38,60,9,...,50,71,46,22,13,4,5,35,28,29